<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About AmatYr App'">
  <content id="about" has-header="true" has-tabs="true" padding="true">
  <div class="textcontent">
    <img src="img/favicon.png" class="ionic-logo">
    <p>
      This is a simple weather app that displays information from my AmatYr project.
    </p>
    <p>
    Author: Tor Hveem &lt;tor@hveem.no&gt;
    </p>
    <p>
    Background image &copy; Oda Hveem <a href="http://visuello.no/">www.visuello.no</a>
    <p>
    Visit full site:
    <a href="http://yr.hveem.no/">yr.hveem.no</a>

    </p>
    <p>
      MIT Licensed. Happy coding.
    </p>
  </div>
  </content>
</view>
