<!--
  This template gets placed in the Weather tab's <nav-view> directive.
  It was wired up in the app config (app.js)
  The 'current' data comes from its $scope within WeatherIndexCtrl (controller.js)
-->
<view title="current.datetime">
  <content has-header="true" has-tabs="true">
  <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-thermometer"></i>
        <div style="float:right;">
          <h3>Feels like</h3>
          <p ng-class="{'blue':current.windchill<0,'red':current.windchill>0}">{{ current.windchill | temperature }}</p>
        </div>
        <h3>Temp</h3>
        <p ng-class="{'blue':current.outtemp<0,'red':current.outtemp>0}">{{ current.outtemp | temperature }}</p>
        <div linechart data="tempdata" label="d3Label"></div>
        <h5>
          <span>↑ <span>{{ highTemp.outtemp | temperature }}</span></span>
          <span>↓ <span>{{ lowTemp.outtemp | temperature }}</span></span>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-umbrella"></i>
            <h3>Day rain</h3>
        <p>{{ current.dayrain | rain }}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-leaf"></i>
        <div style="float:right;">
          <h3>Gust</h3>
          <p> {{ current.windgust | windspeed }} </p>
          <h5>
            <span>↑ <span>{{ highGust.windgust | windspeed }}</span></span>
          </h5>
        </div>
        <h3>Wind</h3>
        <p> {{ current.windspeed | windspeed }} </p>
        <h5>
          <span>↑  <span>{{ highWindspeed.windspeed | windspeed }}</span></span>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-waterdrop"></i>
        <h3>Humidity</h3>
        <p> {{ current.outhumidity | humidity }}</p>
        <h5>
          <span>↑ <span>{{ highHumidity.outhumidity | humidity }}</span></span>
          <span>↓ <span>{{ lowHumidity.outhumidity | humidity }}</span></span>
        </h5>
      </div>
    </div>
    <div class="card">
      <div class="item item-icon-left">
        <i class="icon ion-connection-bars"></i>
        <h3>Barometer</h3>
        <p> {{ current.barometer | pressure }}</p>
        <h5>
          <span>↑ <span>{{ highBarometer.barometer | pressure }}</span></span>
          <span>↓ <span>{{ lowBarometer.barometer | pressure }}</span></span>
        </h5>
      </div>
    </div>
    <!--
    <list>
      <div ng-repeat="(obj, val) in current" type="item-text-wrap" href="#/tab/weather/{{weather.id}}">
      <item ng-show="val">
        <h3>{{obj}}</h3>
        <p>{{val}}</p>
      </item>
      </div>
    </list>
    -->
  </content>
</view>
